@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  .animate-blink {
    animation: blink 1s step-start infinite; /* Apply blink animation */
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .box-shadow{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  }
  .box-shadow-sm{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  .box-shadow-left{
    box-shadow: -10px 0px 20px -4px rgba(0,0,0,0.15);
  }
}


.custom-table {
  tr{
      @apply border-b
  }

  /* Table Header (th) */
  th {
    @apply text-sm text-primary p-1;  /* Using Tailwind classes */
  }

  /* Table Data (td) */
  td {
    @apply text-xs p-1;  /* Example: base font size and padding */
  }
}

table{
  border-width: 1px;
}